@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
/* navbar styling */
.max-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 30px;
}
.navbar-1 {
  width: 100%;
  /* background: crimson; */
  background-color: cadetblue;
  z-index: 998;
  padding: 12px 0px;
  position: fixed;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.5s ease;
}
.navbar-1.sticky {
  padding: 10px 0px;
  background-color: crimson;
}
.navbar-1 .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-1 .logo-1 a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar-item-1 input {
  font-size: 18px;
  padding: 7px;
  border-radius: 10px;
  margin-left: 25px;
  border: 2px solid black;
  outline: none;
  transition: all 0.3s ease;
}
.navbar-item-1 input:focus {
  border: 2px solid grey;
}

.navbar-1 .logo-1 a {
  text-decoration: none;
  border: none;
}
.navbar-1 .logo-1 span {
  color: black;
}
.navbar-1 .menu {
  margin-bottom: 0;
}
.navbar-1 .menu li {
  list-style: none;
  display: inline;
}
.navbar-item-1 a {
  text-decoration: none;
}
.navbar-text-item {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  padding: 2px;
  transition: all 0.5s ease;
}
.navbar-text-item.current {
  color: aliceblue;
  border-bottom: 3px solid aliceblue;
}
.navbar-1.sticky .menu li a:hover {
  color: #fff;
}

.navbar-1 .menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .max-width {
    padding: 0 25px;
  }
  .navbar-1 .menu-btn {
    display: block;
    z-index: 999;
  }
  /* .menu-btn i.active:before {
    content: "\f00d";
  } */
  .navbar-1 .menu {
    position: fixed;
    background-color: cadetblue;
    height: 100vh;
    width: 100vw;
    left: 100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.4s ease-in-out;
  }
  .navbar-1 .menu.active {
    left: 0;
  }
  .navbar-1 .menu li {
    display: block;
    margin-left: -50px;
  }
  .navbar-1 .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
@media screen and (max-width: 350px) {
  .navbar-1 .menu {
    width: 120vw;
    height: 120vh;
  }
}
